trigger:
- master

stages:
- stage: UnitTesting
  jobs:
  - job: DotNetUnitTesting
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - script: echo Run your very cool test suite here
  - job: JavascriptUnitTesting
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - script: echo The fun is in the js tests

- stage: Build
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    variables:
      imageName: 'ciberado/AzureDevopsDemo'
      tag: '$(Build.BuildId)'

    steps:
    - task: Docker@2
      inputs:
        containerRegistry: 'AzureDevOpsFunDemodockerhub'
        repository: $(imageName)
        command: 'buildAndPush'
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          $(tag)
- stage: Compliance
  jobs:
  - job: ExecuteSecurityCompliance
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - script: echo Now trigger that fancy security tool execution
